@{
    ViewBag.Title = "About This Site";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is a fan site for the Cincinnati Bengals. My name is Cory O'Sullivan and I am from Cincinnati, Ohio. I have been a Bengals and Reds fan all my life. I'm currently enrolled at the Ohio University. The Bengals are my favorite team and that is why I decided to make my site about them. Hopefully we have a great season coming up, 
 and most importantly, WHO-DEY.</p>
