@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    120 North Congress Street<br />
    Athens, Ohio<br />
    <abbr title="Phone">P:</abbr>
    513-850-4273
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cs805515@ohio.edu">cs805515@ohio.edu</a><br />
  
</address>