@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>WHO-DEY</h2>
    <p>This website all about the CINCINNATI BENGALS</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>The BENGALS</h2>
        <p>
            The Bengals are located in Cincinnati, Ohio and was founded on May 24, 1967. They are in the National Football Association in the AFC North conference. Our head coach is now Zac Taylor and we play at the Paul Brown Stadium. We haven't won a super bowl, but we will one day soon! Here is a direct link to their site.
        </p>
        <p><a class="btn btn-default" href="https://www.bengals.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Get TICKETS</h2>
        <p>The Bengals have six-teen games scheduled and the first is against the Seatle Seahawks on Sunday September 8th, 2019 at 4:05PM. Here is a direct link to purchase tickets!</p>
        <p><a class="btn btn-default" href="https://www.stubhub.com/cincinnati-bengals-tickets/performer/6045/?ds_rl=1253308&ds_rl=1261024&keyword=cpid-1568992484_agid-64876003648_dsa-91726143421_c&gcid=C12289X486&creative=278962883884&kwt=dsa&utm_kxconfid=s2rshsbmv&utm_campaign=1568992484&ap=1t1&ploc=9015917&iloc=&kwt=dsa&mt=b&kw=&gclid=CjwKCAjwzdLrBRBiEiwAEHrAYu7tnYUmbZyBwqvVtFUjHEMGdA86yApkt4qSmva53xO2vVbnh2XfqhoC_WoQAvD_BwE&gclsrc=aw.ds">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>View PICTURES</h2>
        <p>There are thousands of pictures of the Bengals on the internet. You can see pictures of them back in the day, and pictures of them currently. Here is a direct link to view some photos!</p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=bengals&sxsrf=ACYBGNQ4HBQhe0AeDODXveqsE4wnnvgSyA:1567978153431&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjB7-bmlcLkAhUMVa0KHQMwDo4Q_AUIEygC&biw=1680&bih=873">Learn more &raquo;</a></p>
    </div>
</div>